<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="css/util.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->


</head>
<body>

<!-- Seccion de la Foto/Head -->
    <div class="head-landing">
        <div id="fondo-imagen"></div>
             
            <nav class="navbar navbar-expand-lg navbar-dark ml-xl-5 p-xl-3 pt-xl-4" style="background-color:rgba(30, 30, 58, 0)">
                <a class="navbar-brand" href="#">SL-CODE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                    <a class="nav-item nav-link active lead" href="#">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link lead" href="#">Caracteristicas</a>
                    <a class="nav-item nav-link lead" href="#">Planes</a>
                    <a class="nav-item nav-link lead" href="login.html">Iniciar Sesion</a>

                  
                    </div>
                </div>
            </nav>

            <blockquote class="blockquote text-center align-middle">
                    
                    <p class="mb-0 text-light align-middle mt-xl-5 lead" style="font-size: 4em;">SL-CODE</p>
                </blockquote>   
    </div>


<!-- Seccion de la Foto/Head -->

 <!------------- Seccion de los DIVS informativos---------------->
 
 <!-- Bloque 1-->
    <div class="starter-template" style="border: 1px solid rgba(0,0,0,.125); padding: 65px;">
        <div class="container-fluid">
            <div class="row mt-5 mb-5">
                <div class="col-xl-5 col-sm-5">
                    <div class="">
                            <img src="img/Logo.png" alt="" class="rounded mx-auto d-block" style="width: 200px; height: 200px"></img>
                    </div>
                </div>
                <div class="col-xl-7 col-sm-7">
                    <div>
                        <h1 class="display-4 text-center">Editor de Codigo</h1>
                        <p class="text-justified lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab sapiente assumenda eius rem quibusdam mollitia fuga, cum veniam non pariatur quis, magnam totam aliquam ut itaque nemo sed accusantium nam?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <!-- Bloque 1--> 

<!-- Bloque 2-->


    <div class="starter-template box-shadow" style="border: 1px solid rgba(0,0,0,.125); background-color:aliceblue; padding: 65px;">
        <div class="container-fluid">
            <div class="row mt-5 mb-5">
                <div class="col-xl-7 col-sm-7">
                    <div class="pl-xl-5">
                        <h1 class="display-4 text-center">Caracteristicas</h1>
                        <br>
                        <p class="text-justified lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos sed rerum molestiae cumque illo aut minima, maxime assumenda. Atque tempora delectus temporibus dolorem quidem perferendis quia ab, doloribus nemo maxime.</p>
                        <p class="text-justified lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos sed rerum molestiae cumque illo aut minima, maxime assumenda. Atque tempora delectus temporibus dolorem quidem perferendis quia ab, doloribus nemo maxime.</p>

                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="">
                            <img src="img/gear.svg" alt="" class="rounded mx-auto d-block" style="width: 200px; height: 200px"></img>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Bloque 2-->

<!-- Bloque 3-->
    <div class="starter-template" style="border: 1px solid rgba(0,0,0,.125); padding: 80px;">
        <div class="container">
                    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                        <h1 class="display-4">Planes</h1>
                        <p class="lead">Elige tu <b>Plan</b> segun tus necesidades y empieza a desarrollar con el mejor editor en linea en <b>Tiempo Real</b></p>
                    </div>

                    <div class="card-deck mb-3 text-center">
                        <div class="card mb-4 card">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">Gratuito</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Crea 5 Proyectos</li>
                                    <li>1 GB de almacenamiento</li>
                                    <li>Soporte por Email</li>
                                    <li>Help center access</li>
                                </ul>
                                <button type="button" class="btn btn-lg btn-block btn-light btn-outline-dark">Registrate Gratis</button>
                            </div>
                        </div>
                        <div class="card mb-4 box-shadow">
                            <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Pro</h4>
                            </div>
                            <div class="card-body">
                            <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Crea 25 Proyectos</li>
                                <li>4 GB de almacenamiento</li>
                                <li>Soporte por Email</li>
                                <li>Help center access</li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-primary">Registrate</button>
                            </div>
                        </div>
                        <div class="card mb-4 box-shadow">
                            <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Fullstack</h4>
                            </div>
                            <div class="card-body">
                            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Crea Proyectos ilimitados</li>
                                <li>10 GB de almacenamiento</li>
                                <li>Soporte por Email</li>
                                <li>Help center access</li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-primary">Registrate</button>
                            </div>
                        </div>
                    </div>
        </div>
        </div>
    </div>
<!-- Bloque 3-->


<!-- Bloque 4-->


    <div class="starter-template" style="border: 1px solid rgba(0,0,0,.125); background-color:aliceblue; padding: 65px;">
        <div class="container-fluid">
            <div class="row mt-5 mb-5">
                <div class="col-xl-5">
                    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="margin-top: 12em">
                        <h1 class="display-4">REGISTRATE YA</h1>
                        <p class="lead">Elige tu <b>Plan</b> segun tus necesidades y empieza a desarrollar con el mejor editor en linea en <b>Tiempo Real</b></p>
                    </div>
                </div>
                <div class="col-xl-7">
                    
                    <div class="card-deck mb-3 text-center pl-5 pr-5 ml-5 mr-5 ">
                        <div class="card mb-4 card">
                            
                            <div class="card-body">


                                <div class="limiter">
                                    <div class="container-login100">
                                        <div class="login100-more" style="background-image: url('images/bg-01.jpg');"></div>
                            
                                        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
                                            <form class="login100-form validate-form">
                                                <span class="login100-form-title p-b-59 lead text-center display-3">
                                                    Ingresa tus datos 
                                                </span>
                            
                                                <div class="wrap-input100 validate-input" data-validate="Name is required">
                                                    <span class="label-input100 lead">Nombre Completo</span>
                                                    <input class="input100" type="text" name="name" >
                                                    <span class="focus-input100"></span>
                                                </div>
                            
                                                <div class="wrap-input100 validate-input" data-validate = "Ingrese un Email valido: example@123.abc">
                                                    <span class="label-input100 lead">Correo</span>
                                                    <input class="input100" type="text" name="email" >
                                                    <span class="focus-input100"></span>
                                                </div>
                            
                                                <div class="wrap-input100 validate-input" data-validate="Usuario Obligatoria">
                                                    <span class="label-input100 lead">Usuario</span>
                                                    <input class="input100" type="text" name="username" >
                                                    <span class="focus-input100"></span>
                                                </div>
                            
                                                <div class="wrap-input100 validate-input" data-validate = "Contraseña Obligatoria">
                                                    <span class="label-input100 lead">Contraseña2</span>
                                                    <input class="input100" type="password" name="pass" placeholder="*************" >
                                                    <span class="focus-input100"></span>
                                                </div>
                            
                                                <div class="wrap-input100 validate-input" data-validate = "Repeat Password is required">
                                                    <span class="label-input100 lead">Repetir Contraseña</span>
                                                    <input class="input100" type="password" name="repeat-pass" placeholder="*************">
                                                    <span class="focus-input100"></span>
                                                </div>
                            
                                                <div class="flex-m w-full p-b-33">
                                                    <div class="contact100-form-checkbox">
                                                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                                        <label class="label-checkbox100" for="ckb1">
                                                            <span class="txt1">
                                                                Acepto los
                                                                <a href="#" class="txt2 hov1">
                                                                    Terminos de Usuario
                                                                </a>
                                                            </span>
                                                        </label>
                                                    </div>
                            
                                                    
                                                </div>

                                        </div>
                                    </div>
                                </div>

                                    <div class="container-login100-form-btn">
                                            <div class="wrap-login100-form-btn">
                                                <div class="login100-form-bgbtn"></div>
                                                <button class="login100-form-btn">
                                                    <p class="lead text-light">Sign Up</p> 
                                                </button>
                                            </div>
                    
                                        
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Bloque 4-->

<!-- Footer -->
<footer class="page-footer font-small cyan darken-3" style="width: 100%; background-color: #121232">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row" style=" margin-left: 337px; padding-top: 20px;">

        <!-- Grid column -->
        <div class="col-xl-12 py-5">
            <br>
          <div class="mb-5 flex-center">

            <!-- Facebook -->
            <a class="fb-ic" style=" color: white;">
              <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic" style=" color: white;">
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic"style=" color: white;">
              <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic"style=" color: white;">
              <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic"style=" color: white;">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic" style=" color: white;">
              <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style=" color: white; background-color: rgb(15, 13, 36)">© 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/" style=" color: rgb(97, 97, 97);"> SL-CODE</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->




<!-- Seccion de llamados a Js y demas-->  
    <script src="js/bootstrap.min.js"></script>



    <!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/daterangepicker/moment.min.js"></script>
        <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
        <script src="js/main.js"></script>
<!-- Seccion de llamados a Js y demas-->




</body>
</html>