<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!--===============================================================================================-->	
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="css/util.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->

</head>
<body style="background-color:rgb(185, 185, 185)">
        <div class="limiter">
            <div class="container-fluid"> 
                <div class="row">    
                    <div class="col-xl-12">
                        <div class="jumbotron mt-4 ">
                            <div class="login100-more col-12" style="background-image: url('images/bg-01.jpg');"></div>
                
                            <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50 col-12" style="margin-left: 421px;">
                                <form class="login100-form validate-form">
                                    <span class="login100-form-title p-b-59 lead text-center display-3">
                                        Iniciar Sesion
                                    </span>
                                    <div class="ml-auto mr-auto">
                                            <img src="img/Logo.png" alt="" class="rounded mx-auto d-block ml-5" style="width: 80px; height: 80px;"></img>
                                    </div>
                                    <br>
                
                                    <div class="wrap-input100 validate-input" data-validate="Usuario Obligatoria">
                                        <span class="label-input100 lead">Usuario</span>
                                        <input class="input100" type="text" name="username" >
                                        <span class="focus-input100"></span>
                                    </div>
                
                                    <div class="wrap-input100 validate-input" data-validate = "Contraseña Obligatoria">
                                        <span class="label-input100 lead">Contraseña</span>
                                        <input class="input100" type="password" name="pass" placeholder="*************" >
                                        <span class="focus-input100"></span>
                                    </div>
                
    
                
                                    <div class="container-login100-form-btn">
                                            <div class="wrap-login100-form-btn ml-auto mr-auto mt-5">
                                                <div class="login100-form-bgbtn"></div>
                                                <button class="login100-form-btn">
                                                    <p class="lead text-light">Iniciar Sesion</p> 
                                                </button>
                                            </div>
                    
                                        
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>


<!-- Seccion de llamados a Js y demas-->  
<script src="js/bootstrap.min.js"></script>



<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
    <script src="js/main.js"></script>
<!-- Seccion de llamados a Js y demas-->
    
</body>
</html>